/* Actividad 1: Botón con efecto */
.boton-animado {
    background-color: #0078d7; /* azul inicial */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* transición solo de color y tamaño */
    outline: none; /* quita borde al hacer clic */
}

.boton-animado:active {
    background-color: #ff6600; /* naranja al presionar */
    transform: scale(1.2); /* aumenta tamaño mientras presionás */
}
